@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';

* {
  font-family: 'Fira Sans', sans-serif;
}

b {
  color: black;
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-red-500 p-6 rounded !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-base text-white !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-red-500 !important;
}

#images .swiper-button-prev {
  left: 0px !important;
}

#images .swiper-button-next {
  right: 0px !important;
}

#images .swiper-button-prev,
#images .swiper-button-next {
  top: 41% !important;
}

.react-datepicker-wrapper {
  width: 100%;
}
